.contact-overlay {
    z-index: 9999;
    background-color: var(--duva-light-grey);
    -webkit-backdrop-filter: blur(2px);
    backdrop-filter: blur(2px);
    justify-content: center;
    margin: 20px auto;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    position: fixed;
    inset: 0%;
  }
  
  .contact-modal {
    border: 1px solid var(--border-divider-light);
    border-radius: var(--border-8px);
    background-color: var(--duva-white);
    color: var(--duva-d-grey);
    width: 800px;
    height: 800px;
    padding: 10px;
    position: relative;
    box-shadow: 0 2px 5px #0003;
  }
  
  .subscribe-close {
    border-radius: var(--border-8px);
    background-color: var(--btn-dark-bg);
    font-family: var(--btn-font);
    font-size: var(--btn-size);
    line-height: var(--btn-height);
    font-weight: var(--btn-weight);
    text-align: center;
    width: 150px;
    margin-right: 20px;
    display: block;
    position: absolute;
    left: auto;
    right: 0%;
  }
  
  .subscribe-close:hover {
    background-color: var(--duva-red);
  }
  
  .contact-form-wrapper {
    width: 100%;
  }
  
  .text-block-57 {
    margin-bottom: 40px;
    font-family: var(--section-title, Gotham Rounded, Georgia, sans-serif);
    font-size: var(--section-title-size, 18px);
    font-weight: var(--section-title-weight, 500);
    line-height: var(--section-title-height, 25px);
  }
  
  .text-block-58 {
    margin-bottom: 20px;
    font-family: var(--section-title, Gotham Rounded, Georgia, sans-serif);
    font-size: var(--section-title-size, 28px);
    line-height: var(--section-title-height, 30px);
  }
  
  .submit-button {
    border: 1px solid var(--border-divider-light);
    border-radius: var(--border-8px);
    background-color: var(--btn-dark-bg);
    font-family: var(--btn-font);
    font-size: var(--btn-size);
    line-height: var(--btn-height);
    font-weight: var(--btn-weight);
    text-align: center;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
  }
  
  .submit-button:hover {
    background-color: var(--duva-red);
  }
  
  .text-field {
    border: 1px solid var(--highlighted-duva-grey);
    border-radius: var(--border-8px);
    height: 30px;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
  }
  
  .text-field-2 {
    border: 1px solid var(--border-divider-light);
    border-radius: var(--border-8px);
    height: 30px;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
  }
  
  .field-label, .field-label-2 {
    margin-bottom: 0;
    margin-left: 20px;
    font-family: var(--btn-font, Gotham, Georgia, sans-serif);
    font-size: var(--btn-size, 16px);
    font-weight: var(--btn-weight, 300);
    line-height: var(--btn-height, 25px);
  }
  
  .contact-header {
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 10%;
    display: flex;
    position: relative;
  }
  
  .image-32 {
    margin-left: 20px;
    position: absolute;
    left: 0%;
    right: 0%;
  }
  
  .form-hero {
    flex-flow: column;
    justify-content: flex-start;
    align-items: flex-start;
    display: flex;
  }
  
  .contact-divider {
    background-color: var(--border-divider-light);
    width: 100%;
    height: 1px;
    margin-bottom: 10px;
  }
  
  .contact-form {
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    flex-flow: column;
    display: flex;
  }
  
  .field-wrapper {
    flex-flow: column;
    align-self: flex-start;
    width: 100%;
    margin-right: 10px;
  }
  
  .privacy-consent {
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    justify-content: flex-start;
    align-items: center;
    margin-left: 10px;
    display: flex;
  }
  
  .text-block-59 {
    font-family: var(--section-title, Gotham Rounded, Georgia, sans-serif);
    font-size: var(--btn-size, 14px);
    font-weight: var(--btn-weight, 300);
  }
  
  .subscribe-row {
    justify-content: center;
    align-items: flex-start;
    display: flex;
  }
  
  .text-block-60 {
    color: var(--highlighted-duva-grey);
  }
  
  .select-field, .select-field-2 {
    border: 1px solid var(--border-divider-light);
    border-radius: var(--border-8px);
    background-color: var(--duva-white);
    height: 30px;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
  }
  
  ._w-select {
    border: 1px solid var(--border-divider-light);
    border-radius: var(--border-8px);
    background-color: var(--duva-white);
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
  }
  
  .textarea {
    border: 1px solid var(--border-divider-light);
    border-radius: var(--border-8px);
    font-family: var(--btn-font, Gotham, Georgia, sans-serif);
    font-weight: var(--btn-weight, 200);
  }
  
  .checkbox-label {
    color: var(--duva-d-grey);
    margin-bottom: 0;
    margin-left: 20px;
    font-family: var(--section-title, Gotham Rounded, Georgia, sans-serif);
  }
  
  .checkbox-2 {
    border: 1px solid var(--border-divider-light);
    border-radius: var(--border-4px-cornner);
    width: 20px;
    height: 20px;
    margin-top: 0;
  }
  
  .link-15 {
    text-decoration: none;
    -webkit-text-decoration-color: var(--duva-red);
    text-decoration-color: var(--duva-red);
    text-decoration-style: double;
  }
